@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
    --cardbg: white;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --cardbg: rgb(39, 39, 42);
  }
}



@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  nextjs-portal {
    display: none;
  }

  .purple {
    background-color: #b92ed1;
    transition: background-color ease 150ms;
  }

  .purple:hover {
    background-color: #c043d6;
  }

  .cardbg {
    background-color: var(--cardbg);
  }

  .gradient {
    background: rgb(190, 227, 255);
    background: -moz-linear-gradient(151deg, rgba(190, 227, 255, 1) 0%, rgba(220, 190, 255, 1) 100%);
    background: -webkit-linear-gradient(151deg, rgba(190, 227, 255, 1) 0%, rgba(220, 190, 255, 1) 100%);
    background: linear-gradient(151deg, rgba(190, 227, 255, 1) 0%, rgba(220, 190, 255, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bee3ff", endColorstr="#dcbeff", GradientType=1);
  }

  .shadow1 {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .shadow2 {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }



  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}